# Default text files to LF across Windows, Linux, macOS
* text=auto eol=lf

# Binary files
*.h5ad binary
*.h5 binary
*.whl binary
*.gz binary
*.tar.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
